appdirs
audiomentations
audioread
certifi
charset-normalizer
cycler
decorator
fonttools
idna
joblib
kiwisolver
librosa
llvmlite
matplotlib
numba
numpy
packaging
Pillow
pooch
pycparser
pydub
pyparsing
python-dateutil
requests
resampy
scikit-learn
scipy
six
SoundFile
threadpoolctl
urllib3